Repository vikashgraja/audit_automation: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-migrations-check

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Audit Automation
# See https://pre-commit.com for more information

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=5000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: detect-private-key
        name: Detect private keys
      - id: check-json
        name: Check JSON syntax
      - id: pretty-format-json
        name: Format JSON files
        args: ['--autofix', '--no-sort-keys']
        exclude: 'security_.*\.json'

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
        name: Format Python code with Black
        language_version: python3.11
        args: ['--line-length=120']

  # Python import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort Python imports
        args: ['--profile', 'black', '--line-length', '120']

  # Python linting with flake8
  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        name: Lint Python code with flake8
        args: ['--max-line-length=120', '--extend-ignore=E203,W503']
        exclude: 'migrations/|__pycache__|.venv'

  # Security scanning with Bandit
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        name: Security scan with Bandit
        args: ['-c', 'pyproject.toml']
        additional_dependencies: ['bandit[toml]']
        exclude: 'tests/|migrations/|security_pentest.py'

  # Django-specific checks
  - repo: local
    hooks:
      - id: django-check
        name: Django system check
        entry: bash -c 'cd /Users/vikashg/Desktop/Hyundai/Code/audit_automation && uv run manage.py check'
        language: system
        pass_filenames: false
        files: '\.py$'

      - id: django-migrations-check
        name: Check for missing migrations
        entry: bash -c 'cd /Users/vikashg/Desktop/Hyundai/Code/audit_automation && uv run manage.py makemigrations --check --dry-run'
        language: system
        pass_filenames: false
        files: 'models\.py$'

  # Check for secrets in code
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.4.0
    hooks:
      - id: detect-secrets
        name: Detect secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: 'package-lock.json|\.env\.example|security_.*\.json'

chore: migrate to ruff for linting and formatting
  .pre-commit-config.yaml
  interface/migrations/0001_initial.py
  interface/migrations/0002_alter_redflags_options_remove_redflags_manuals_and_more.py
  interface/migrations/0003_alter_redflags_options_alter_redflags_created_at_and_more.py
  interface/migrations/0004_redflags_manual.py
  interface/migrations/0005_uploadedfile.py
  interface/migrations/0006_delete_uploadedfile.py
  interface/migrations/0007_remove_redflags_description_redflags_category.py
  interface/migrations/0008_alter_redflags_category.py
  interface/migrations/0009_alter_redflags_category.py
  interface/migrations/0010_alter_redflags_manual.py
  interface/validators.py
  manage.py
  pyproject.toml
  security_pentest.py
  user_management/migrations/0001_initial.py
  user_management/migrations/0002_user_role_unit_user_unit.py
  user_management/migrations/0003_alter_user_role.py
  user_management/migrations/0004_alter_user_role.py
  user_management/migrations/0005_remove_user_username_user_employee_id_and_more.py
  user_management/migrations/0006_alter_user_employee_id.py
Due: django-check

refactor: rename RedFlag to Automation and Automation to Tools
  audit_automation/urls.py
  interface/forms.py
  interface/migrations/0011_automation_delete_redflags.py
  interface/models.py
  interface/views.py
  templates/Nav.html
  templates/pages/automation.html
  templates/pages/automation_info.html
  templates/pages/automation_report.html
  templates/pages/create_automation.html
  templates/pages/create_red_flag.html
  templates/pages/edit_automation.html
  templates/pages/red_flag.html
  templates/pages/tools.html
Due: django-check, django-migrations-check

refactor: rename RedFlag to Automation and Automation to Tools
  interface/forms.py
  interface/migrations/0012_alter_automation_category.py
  interface/models.py
  templates/pages/automation.html
Due: django-check, django-migrations-check

refactor: Improved user table
  templates/User_management/user_list.html
Due: none

refactor: Improved UI
  static/css/forms.css
  templates/User_management/update_user.html
  user_management/forms.py
Due: django-check

refactor: Improved UI
  static/css/forms.css
  templates/User_management/create_user.html
Due: none

refactor: Improved UI
  static/css/tables.css
  templates/User_management/user_list.html
Due: none

refactor: Improved UI
  static/css/tables.css
  templates/pages/automation.html
Due: none

refactor: Renamed to Audit hub
  static/css/nav.css
  templates/Nav.html
Due: none

refactor: Improved UI
  templates/pages/automation.html
Due: none

feat: Implement tool management functionality
  audit_automation/urls.py
  interface/migrations/0013_tool.py
  interface/models.py
  interface/views.py
  templates/pages/create_tool.html
  templates/pages/tools.html
Due: django-check, django-migrations-check

feat: added flash messages and success notifications
  interface/views.py
  static/css/nav.css
  templates/Nav.html
  user_management/views.py
Due: django-check

feat: Add django-ratelimit and dotenv
  pyproject.toml
  uv.lock
Due: none

feat: Implement group-based privilege
  audit_automation/urls.py
  interface/views.py
  templates/Nav.html
  templates/User_management/create_privilege.html
  templates/User_management/privilege_list.html
  templates/User_management/user_list.html
  user_management/admin.py
  user_management/forms.py
  user_management/migrations/0007_user_groups_user_user_permissions_alter_user_role.py
  user_management/migrations/0008_migrate_roles_and_groups.py
  user_management/models.py
  user_management/views.py
  verify_privileges.py
  verify_roles.py
Due: django-check, django-migrations-check

chore: Remove unwanted files
  create_org_structure.py
  verify_privileges.py
  verify_roles.py
Due: django-check
